@model List<GameShop.Models.Game>

@{
	ViewBag.Title = "Admin Game List";
}

<h1>Admin Game List</h1>

<div class="row">
	<div class="col-md-2">
		<ul class="list-group">
			<li class="list-group-item">
				<a asp-controller="Game" asp-action="List" asp-route-type="Action" class="nav-link">Action</a>
			</li>
			<li class="list-group-item">
				<a asp-controller="Game" asp-action="List" asp-route-type="Adventure" class="nav-link">Adventure</a>
			</li>
			<li class="list-group-item">
				<a asp-controller="Game" asp-action="List" asp-route-type="Puzzle" class="nav-link">Puzzle</a>
			</li>
			<li class="list-group-item">
				<a asp-controller="Game" asp-action="List" asp-route-type="Roguelike" class="nav-link">RogueLike</a>
			</li>
			<li class="list-group-item"></li>
		</ul>
	</div>
	<div class="col-md-10">
		<table class="table table-info table-striped">
			<tr>
				<th>
					Name
				</th>
				<th>
					Developer
				</th>
				<th>
					Price
				</th>
				<th></th>
				<th></th>
			</tr>

			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Name)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Developer)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Price)
					</td>
					<td>
						<a asp-controller="Game" asp-action="Add" asp-route-id="@item.Id" >Edit</a>
					</td>
					<td>
						<a asp-controller="Game" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
					</td>
				</tr>
			}

		</table>
		<a asp-controller="Game" asp-action="Add" class="btn btn-primary">Add Game</a>
	</div>
</div>